@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Ubuntu, sans-serif;
}

a {
    text-decoration: none;
    border-bottom: 0;
}

.header {
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.header-container {
    display: flex;
    padding: 15px 0;
}

.logo {
    display: flex;
    padding: 15px 0px;
}

.logo-icon {
    width: 38px;
    height: 38px;
}

.logo__title {
    display: flex;
}

.logo-title {
    color: #3a3a3b;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

#tech {
    color: #4280e3;
}

.navigate {
    display: flex;
    padding-top: 25px;
    color: #3a3a3b;
    text-transform: uppercase;
}

.navigate a + a {
    margin-left: 35px;
}

.navigate a {
    text-decoration: none;
}

.nav__link {
    color: #3a3a3b;
    font-size: 17px;

    transition: .3s;
}

.nav__link:hover {
    color: #4280e3;
    /* border-bottom: 1px solid #4280e3; */
}

.telephone {
    display: flex;
    padding-top: 19px;
}

.ru {
    width: 25px;
    height: 25px;
}

.phone {
    padding: 3px;
    font-size: 18px;

    color: #3a3a3b;
    transition: .3s;
}

.phone:hover {
    color: #4280e3;

    font-size: 21px;
}

.admin__menu {
    display: flex;
    width: 75%;

    justify-content: center;

    text-align: center;

    margin-top: 75px;
}

.admin-button {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;

    text-align: center;

    color: #3a3a3b;
    /* text-transform: uppercase; */

    text-decoration: none;

    transition: .3s;
}

.admin-button:hover {
    color: #4280e3;
    /* border-bottom: 3px solid #4280e3; */
}

.admin__content {
    width: 100%;
    margin-top: 100px;
}

.tableTitle {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

